<div class="container">
    <h1>404 - Page Not Found!</h1>
    <img class="not-found-error" src="../../../assets/kisspng-dog-collar-pet-sitting-veterinarian-5af257280271a2.51078720152583146401.png" alt="Page not found!">
    <a href="https://images.squarespace-cdn.com/content/v1/58d7e114725e25ffc9b24b5f/1580136057394-LU2VAI17L1YGLA7QL2AD/kisspng-dog-collar-pet-sitting-veterinarian-5af257280271a2.51078720152583146401.png">Image Source</a>
    <button class="btn btn-info btn-lg" routerLink="/">Return to home page</button>
</div>