.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

::placeholder {
    color: white !important;
    opacity: 1;
}

input {
    color: white !important;
}

img {
    max-height: 40px;
    border-radius: 30px;
    border: 2px solid purple;
    display: inline;
    margin-right: 10px;
}